{% extends 'layout.html' %} {% block content %}
<!-- Start -->

<br>
<div class="container row">
      <div class="jumbotron col-md-6 col-md-offset-4">
            <h1>
                  {{ online }}
                  {% if online %}
                        Hello
                              {{ user }}
                        !!!
                  {% endif %}
</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae dolorum in aliquid hic unde?</p>
            <p>
                  <a class="btn btn-primary btn-lg" href="/register" role="button">Create Acount</a> or
                  <a class="btn btn-primary btn-lg" href="/login" role="button">ENTER</a> or
                  <a class="btn btn-primary btn-lg" href="/login" role="button">New Task</a>
                  <!-- or -->
                  <!-- <a class="btn btn-primary btn-lg" href="/task" role="button">Task Form</a> -->
            </p>
      </div>
</div>
<!--  End  -->
{% endblock %}
