{% extends 'layout.html' %}

{% block content %}
  <!--  -->
  <div class="container">
    <div class="jumbotron">
      <h1>Hello, User!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae dolorum in aliquid hic unde?</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Create Acount</a>
or
        <a class="btn btn-primary btn-lg" href="/login" role="button">ENTER</a>
or
        <a class="btn btn-primary btn-lg" href="/task" role="button">Task Form</a>
      </p>
    </div>
  </div>
<!--  -->
{% endblock %}
