{% extends 'layout.html' %} {% block content %}
<div class="row col-md-6 col-md-offset-3">
     <form class="" action="/user/create" method="post">

          <br>

          <div class="row">
               <h1 align="center" class="col-md-6 col-md-offset-3">Autorization</h1>
               <br>
               <div></div>
               <br>
               <!-- Registration -->

               <div class="input-group input-group-md col-md-4 col-md-offset-4 input">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" class="form-control" placeholder="fullname" name="log-fullname">
               </div>
               <br>

               <div class="input-group input-group-md col-md-4 col-md-offset-4 input">
                    <span class="input-group-addon"> <i class="fa fa-key" aria-hidden="true"> </i></span>
                    <input type="text" class="form-control" placeholder="password" name="log-password">
               </div><br>
               <div>
                    <button type="ыгsubmit" class="btn btn-warning btn-md col-md-2 col-md-offset-5" name="button">Submit</button>

               </div><br>
               <div></div>
               <br>
               {%if logerror%}
               <div class="alert alert-danger input-group input-group-md col-md-2 col-md-offset-5" role="alert">{{ error }}</div>
               {%endif%}
          </div>
     </form>
</div>
{% endblock %}
