/* --------------- reset.css --------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      /* обнуляем отступы и убираем бордюры */
      vertical-align: baseline;
      /* приводим все к одной базовой линии */
      background: transparent;
      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
      font-size: 100%;
      /* размер шрифта всем одинаковый */
}

a {
      /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
      margin: 0;
      padding: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      outline: none;
}

table {
      /* устраняем отступы между ячейками таблицы */
      border-collapse: collapse;
      border-spacing: 0;
}

td, td img {
      vertical-align: top;
      /* возвращаем привычное вертикальное выравнивание */
}

input, select, button, textarea {
      margin: 0;
      /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
      font-size: 100%;
      /* делаем размер шрифтов везде одинаковым */
      outline: none;
}

input[type="text"], input[type="password"], textarea {
      padding: 0;
      /* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] {
      /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
      vertical-align: bottom;
}

input[type="radio"] {
      vertical-align: text-bottom;
}

sub {
      vertical-align: sub;
      font-size: smaller;
}

sup {
      vertical-align: super;
      font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
}

nav ul {
      list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

html {
      min-height: 100%;
      /* всегда показываем вертикальную полосу прокрутки  */
}

body {
      color: #000;
      text-align: left;
      font-size: 1em;
      /* используем безопасные шрифтовые CSS стеки */
      min-height: 100%;
}

a, a:visited {
      /* порядок правил для ссылок имеет значение */
      color: #e6618c;
      text-decoration: underline;
}

a:hover {
      color: #fdf208;
      text-decoration: none;
}

a:focus, a:active {
      color: #c83867;
      text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
}

img {
      max-width: 100%;
}

.clr {
      clear: both;
}

.clearfix:after {
      clear: both;
      content: "";
      display: table;
}

/* --------------- /базовые настройки ---------*/

/* --------------- Шрифты и Заголовки ---------*/

h2 {
      font-size: 30px;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      line-height: 40px;
      letter-spacing: 2px;
}

h3 {
      font-size: 18px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
}

h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
}

/* ----------  Шрифты и Заголовки конец ------- */

/* ---------------------My Classes------------- */

.buttonLinear {
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 16px;
      text-transform: lowercase;
      width: 214px;
      height: 38px;
      border: 1px solid #76b700;
      background: none;
      color: #76b700;
      border-radius: 5px;
      margin: -8px 15px 15px 15px;
}

.buttonLinear:hover {
      border: 0;
      background: #80bb22;
      color: #fff;
      transition: 0.3s all linear;
}

.buttons {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      background: #80bb22;
      text-transform: uppercase;
      border: 0;
      border-radius: 5px;
      margin-top: 10px;
}

.buttons:hover {
      color: #80bb22;
      background: none;
      border: 1px solid #80bb22;
      transition: 0.3s all linear;
}

.inputs {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
      padding: 20px 0 20px 20px !important;
      border: 0;
      border-radius: 5px;
      height: 45px;
      width: 238px;
      margin-top: 10px;
}

.inputs:focus {
      box-shadow: 0 0 10px 1.5px #80bb22;
      transition: 0.5s;
}

/* ---------------------end My Classes------------- */

/* ---------------------- Header -------------- */

header {
      background: #f2f1ee;
      padding: 30px 0;
      margin: 0;
}

.slog {
      padding-top: 20px;
      text-transform: uppercase;
      color: #fd6554;
}

.menu {
      margin-top: -5px;
}

.naw li:nth-child(1) a {
      padding-left: 10px;
}

.naw li:nth-child(2) a {
      padding-right: 5px;
}

.naw li:nth-child(3) a {
      padding-left: 15px;
}

.naw li:nth-child(4) a {
      padding-left: 35px;
}

.naw li:nth-child(5) a {
      padding-left: 40px;
}

.naw li a:hover {
      color: #80bb22;
      transition: 0.3s;
}

a {
      text-decoration: none;
      color: #010101;
}

li {
      text-align: center;
      display: block;
}

li a {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
}

.phones {
      text-align: right;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 18px;
}

.phones span:nth-child(2) {
      padding-right: 20px;
}

.phones span:first-child i {
      padding-left: 10px;
      font-size: 24px;
      vertical-align: bottom;
}

/* ---------------------- endHeader ------------- */

/* ----------------------Section_1--------------- */

.display_1 {
      background: url('../img/first_display.jpg') no-repeat top center;
}

.display_1 img {
      padding: 470px 0 272px 20px;
}

.card_items {
      margin: 295px 0 0 70px;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      width: 298px;
      height: 384px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
}

.inputs {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
      padding: 20px 0 20px 20px !important;
      border: 0;
      border-radius: 5px;
      height: 45px;
      width: 238px;
      margin-top: 10px;
}

.card_items button {
      padding: 12px 88px;
}

.card_items button:hover {
      padding: 11px 87px;
}

.card_items h4 {
      padding: 35px 0 20px 0;
      letter-spacing: 0.1em;
}

.card_items p {
      margin-top: 20px;
      line-height: 1.2;
      font-weight: 300;
      font-size: 13px;
      color: #fff;
      opacity: 0.5;
}

/* ----------------------Section_1--------------- */

/* ----------------------Section_2--------------- */

.bg {
      background: #80bb22;
      border-radius: 5px;
}

.display_2 h2 {
      color: #ff4933;
      padding: 100px 0 48px;
}

.display_2 img {
      padding: 0;
      /* float: left; */
      /* display: block; */
}

.display_2 img:hover {
      opacity: 0.78;
      transition: 0.3s all linear;
}

.bg .img_1 {
      border-radius: 5px 0 0 0;
      /* border: 2px solid green; */
}

.bg .img_3 {
      border-radius: 0 5px 0 0;
      /* border: 2px solid green; */
}

.bg .img_7 {
      border-radius: 0 0 0 5px;
}

.bg .img_9 {
      border-radius: 0 0 5px 0;
}

.display_2 .container {
      margin-bottom: 100px;
}

/* ------------------ endSection_2 -------------- */

/* --------------------- Section_3 -------------- */

.display_3 {
      background: url('../img/thred.jpg') no-repeat top center / cover;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
}

.display_3 h2 {
      padding: 100px 0 50px 0;
      color: #fff;
}

.marf {
      text-align: center;
      padding-bottom: 100px;
}

.marfItem {
      padding: 25px;
      border-radius: 5px;
}

.marfItem:hover {
      padding: 24px;
      border: 1px solid #76b700;
      /* transition: 0.3s; */
}

.marfItem:nth-child(1) img {
      padding-top: 18px;
}

.marfItem:nth-child(2) img {
      padding-top: 25px;
}

.marfItem:nth-child(3) img {
      margin-top: 21px;
}

.marfItem:nth-child(4) img {
      margin-top: 26px;
}

.marfItem h4 {
      font-family: 'Roboto Slab', serif;
      margin: 22px 0 26px 0;
      text-transform: inherit;
      font-size: 20px;
      letter-spacing: 2px;
}

.marfItem a {
      font-size: 16px;
      text-transform: uppercase;
      color: #76b700;
      font-weight: 700;
      letter-spacing: 1px;
}

.marfItem a:hover {
      color: #fff;
      transition: 0.3s;
}

.marfItem p {
      margin-top: 20px;
}

.marfItem button {
      padding: 10px 52px;
      margin-top: 20px;
}

.marfItem button:hover {
      padding: 9px 51px;
}

/* ------------------ endSection_3 -------------- */