/***************************************** fonts ********************************************/

@font-face {
      font-family: PFDinTextPro;
      src: url(../fonts/PFDinTextPro/PFDinTextPro-Bold_0.ttf);
      font-weight: 700;
      font-style: normal;
}

@font-face {
      font-family: PFDinTextPro;
      src: url(../fonts/PFDinTextPro/PFDinTextPro-Medium.ttf);
      font-weight: 500;
      font-style: normal;
}

@font-face {
      font-family: PFDinTextPro;
      src: url(../fonts/PFDinTextPro/PFDinTextPro-Regular_1.ttf);
      font-weight: 400;
      font-style: normal;
}

@font-face {
      font-family: PFDinTextPro;
      src: url(../fonts/PFDinTextPro/PFDinTextPro-Light.ttf);
      font-weight: 300;
      font-style: normal;
}

/***************************************** end fonts ********************************************/

/* --------------- reset.css --------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      /* обнуляем отступы и убираем бордюры */
      vertical-align: baseline;
      /* приводим все к одной базовой линии */
      background: transparent;
      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
      font-size: 100%;
      /* размер шрифта всем одинаковый */
}

a {
      /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
      margin: 0;
      padding: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
      outline: 0 !important;
}

table {
      /* устраняем отступы между ячейками таблицы */
      border-collapse: collapse;
      border-spacing: 0;
}

td, td img {
      vertical-align: top;
      /* возвращаем привычное вертикальное выравнивание */
}

input, select, button, textarea {
      margin: 0;
      /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
      font-size: 100%;
      /* делаем размер шрифтов везде одинаковым */
      outline: none;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea {
      padding: 0 0 9px 0 !important;
      -moz-padding: 0 0 5px 20px;
      /* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] {
      /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
      vertical-align: center;
}

input[type="radio"] {
      vertical-align: text-bottom;
}

sub {
      vertical-align: sub;
      font-size: smaller;
}

sup {
      vertical-align: super;
      font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
      display: block;
}

nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
}

li {
      padding: 0;
      margin: 0;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

html {
      min-height: 100%;
      /* всегда показываем вертикальную полосу прокрутки  */
}

body {
      color: #000;
      text-align: left;
      font-size: 1em;
      /* используем безопасные шрифтовые CSS стеки */
      min-height: 100%;
}

a, a:visited {
      /* порядок правил для ссылок имеет значение */
      color: #003462 !important;
      text-decoration: none;
      outline: 0 !important;
}

a:hover {
      color: #fff !important;
      text-decoration: none;
      transition: all 0.3s linear;
}

a:focus, a:active {
      color: #84c9d8 !important;
      text-decoration: none;
      outline: 0 !important;
      transition: all 0.15s linear;
}

h1, h2, h3, h4, h5, h6 {
      font-weight: normal;
}

img {
      max-width: 100%;
}

.clr {
      clear: both;
}

.clearfix:after {
      clear: both;
      content: "";
      display: table;
}

button:active, button:focus {
      outline: none !important;
}

button::-moz-focus-inner {
      border: 0 !important;
}

@-moz-document url-prefix() {
      .style {
            padding: 0 0 2px 0;
      }
}

/* --------------- /базовые настройки ---------*/

/**************************************************** My Styles ***********************************************/

body {
      font-family: PFDinTextPro, sans-serif;
      background: url('../img/backgrounds/bg_fix.png') no-repeat center center/cover;
      background-attachment: fixed;
      height: 100vh;
}

h2 {
      font-size: 36px;
      font-weight: 400 !important;
      text-transform: uppercase;
}

h3 {
      font-size: 28px;
      font-weight: 400 !important;
      text-transform: uppercase;
}

h4 {
      font-size: 24px;
      font-weight: 400 !important;
      text-transform: uppercase;
}

p {
      font-size: 18px;
      font-weight: 400;
      color: #646464;
}

.container {
      /* border: 1px solid red; */
      font-family: PFDinTextPro, sans-serif;
      color: #003462;
}

.fz18 {
      font-size: 18px;
}

.fz16 {
      font-size: 16px;
}

.clr-white {
      color: #fff !important;
}

.lower {
      text-transform: lowercase;
}

.m_center {
      margin: 0 auto !important;
}

.left_side {
      margin-left: -70px;
}

.right_side {
      margin-right: -70px;
}

.upper {
      text-transform: uppercase;
}

.linear__btn {
      height: 38px;
      font-size: 20px;
      color: #003462;
      font-weight: 700;
      text-transform: uppercase;
      background: none;
      border-radius: 5px;
      border: 1px solid #003462;
      padding: 0 20px;
      cursor: pointer;
}

.linear__btn:hover {
      background: #003462;
      color: #fff;
      transition: 0.7s all linear;
}

.linear__btn:active {
      border-color: #84c9d8;
      color: #84c9d8;
      background: none;
      transition: all 0.2s linear;
}

.sint_btn {
      background: #84c9d8;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 1px 36px;
      text-transform: uppercase;
      color: #003462;
      font-weight: 700 !important;
      font-size: 18px;
      cursor: pointer;
}

.sint_btn:hover {
      background: #003462;
      color: #84c9d8;
      transition: all 0.2s linear;
}

.sint_btn:active {
      color: #fff;
}

.b-rad {
      border-radius: 5px;
}

.worn {
      margin-top: 5px;
      font-size: 11px;
}

.carousel-indicators .active {
      background: #84c9d8 !important;
}

.carousel-indicators li {
      width: 14px !important;
      height: 14px !important;
      background: none;
      border-radius: 50%;
      border: 1px solid #84c9d8;
}

.anchorToOtherPage {
      margin: 30px auto;
      text-transform: uppercase;
}

.anchorToOtherPage a {
      color: #84c9d8 !important;
      text-decoration: none !important;
}

.anchorToOtherPage a:hover {
      color: #fff !important;
}

.txt_left {
      text-align: left !important;
}

/************************************************** end My Styles *********************************************/

/*************************************************** other cod ************************************************/

/************************************************** Header ****************************************************/

header {
      background: #ebeff3;
}

.logo {
      /* margin-top: -30px; */
}

.phone p {
      color: #06235f;
}

header .linear__btn {}

.haed {
      padding: 15px 0 25px;
}

.align_i_c {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
}

.sots {
      margin-bottom: -4px;
}

.phone__item {
      margin: 6px 0 -10px 0 !important;
}

.phone__item .fa-phone {
      font-weight: 400;
}

.space_a {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-around;
}

header button {
      margin: 0 0 -2px 0 !important;
}

/********************************************** end Header ****************************************************/

/************************************************** Nav  ******************************************************/

nav {
      background: rgba(132, 201, 216, 0.75);
      z-index: 10000;
}

nav ul {
      text-transform: uppercase;
      font-family: PFDinTextPro, sans-serif;
      font-weight: 700;
}

/********************************************** end Nav  ******************************************************/

/********************************************** display_1  ****************************************************/

.display_1 {
      background: #ebeff3;
}

#offer_corusele {
      margin: 50px auto 50px;
      border-radius: 5px;
}

#offer_corusele li, #carousel_Video li {
      background: none;
}

.carousel-inner {
      border-radius: 5px;
}

.button_Up {
      position: fixed;
      text-align: center;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: #82cada;
      opacity: 0.5;
      z-index: 10000;
      bottom: 25px;
      right: 25px;
      transition: 0.5s all linear;
}

.button_Up:hover {
      opacity: 0.86;
}

.button_Up p {
      font-size: 52.5px;
      color: #fff;
      opacity: 0.68;
      transition: 0.5s all linear;
}

.button_Up p:hover {
      color: #06235f;
}

.button_Up i {
      padding: 5px;
}

.click_aria {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: #82cada;
}

/********************************************** end display_1  *************************************************/

/**************************************************** quality  *************************************************/

.quality_item img {
      padding-top: 15px;
      color: #06235f;
      width: 50px;
}

.quality {
      text-align: center;
      padding: 40px 0;
}

.q-icon {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      /* padding: 36px 0 25px 0; */
      margin: 26px auto 15px;
      height: 100px;
      width: 100px;
      border: 1px solid #06235f;
      border-radius: 50%;
}

/************************************************** end quality  *************************************************/

/************************************************** equipment  *************************************************/

.equipment {
      padding: 50px 0;
      background: url('../img/backgrounds/Bg_3.jpg') no-repeat center center/cover;
      text-align: center;
}

.equipment img {
      border-radius: 5px;
}

.equipment h2, .equipment h2 {
      color: #fff !important;
}

.equipment h2 {
      padding-bottom: 25px;
}

.equipment h4 {
      padding-top: 15px;
}

.equipment p {
      text-align: left;
      color: #fff;
      font-size: 15px;
      line-height: 18px;
}

.equipment__card {
      max-width: 22.5% !important;
      position: relative;
      padding: 15px;
      border: 1px solid #fff;
      border-radius: 5px;
      margin: 30px 15px 15px 15px;
}

.equipment__card button {
      position: absolute;
      bottom: -15px;
      right: 35px;
}

/************************************************** end equipment  *************************************************/

/************************************************** form  *************************************************/

.form {
      text-align: center;
      padding: 50px 0;
}

.inputs__team {
      background: rgba(132, 201, 216, 0.5);
      padding: 30px;
      border-radius: 5px;
}

.form h4 {
      padding: 25px 0;
      color: #06235f !important;
}

.inputs {
      font-size: 14px;
      max-width: 22.5%;
      margin: 0 15px;
      padding: 0 0 9px 0 !important;
      background: none;
      border: 0;
      border-bottom: 1px solid #06235f;
}

/************************************************** end form  *************************************************/

/************************************************** spares  *************************************************/

.spares {
      padding: 50px 0;
      background: url('../img/backgrounds/bg_5.jpg') no-repeat center center/cover;
      text-align: center;
}

.spares h2, h4 {
      color: #06235f !important;
}

.spares img {
      border-radius: 5px;
}

.spares h2 {
      padding-bottom: 25px;
}

.spares h4 {
      padding-top: 15px;
}

.spares p {
      color: #06235f;
      text-align: left;
      font-size: 15px;
      line-height: 18px;
}

.spares__card {
      max-width: 22.5% !important;
      position: relative;
      padding: 15px;
      border: 1px solid #06235f;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      margin: 30px 15px 15px 15px;
}

.spares__card button {
      border: 1px solid #06235f;
      position: absolute;
      bottom: -15px;
      left: 40px;
      background: #fff;
}

#spares .anchorToOtherPage a {
      color: #003462 !important;
}

/************************************************** end spares  *************************************************/

/************************************************** news  *************************************************/

.news {
      text-align: center;
      padding: 50px 0;
      line-height: 18px;
}

.oneSlide {
      padding: 36px 0;
}

.imgNews {
      margin: auto;
}

.txtNews {
      margin: auto;
}

.newsParag {
      text-align: left;
      font-size: 15px;
}

#carouselNews .carousel-control-prev {
      margin-left: -100px;
}

#carouselNews .carousel-control-next {
      margin-right: -100px;
}

#news .anchorToOtherPage {
      margin: 30px auto;
      text-transform: uppercase;
}

#news .anchorToOtherPage a {
      color: #84c9d8 !important;
      text-decoration: none !important;
}

#news .anchorToOtherPage a:hover {
      color: #06235f !important;
}

/************************************************** end news  *************************************************/

/************************************************** video  *************************************************/

.video {
      background: url('../img/backgrounds/bg_7.jpg') no-repeat center center/cover;
      padding: 50px 0;
      text-align: center;
}

.video h2 {
      color: #fff;
      padding-bottom: 25px;
}

#carousel_Video {
      max-width: 100%;
      /* margin: 0 auto; */
}

#carousel_Video .carousel-item {
      height: 550px;
}

#carousel_Video .b-rad {
      min-height: 100%;
      width: 100%;
      max-height: 600px
}

/************************************************** end video  *************************************************/

/************************************************** contacts  *************************************************/

.contacts_line {
      padding: 0;
      margin: 0;
}

.contacts_line p {
      font-size: 17.3px !important;
      color: inherit;
      margin: 15px -15px !important;
      text-align: center;
}

.contacts {
      text-align: center;
      padding: 50px 0;
}

.call_parag {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 500;
      color: #06235f;
}

.call_card {
      border-radius: 5px;
      /* margin-right: 15px; */
      padding: 30px;
      background: rgba(132, 201, 216, 0.25);
      text-align: center;
}

.contacts h2 {
      padding-bottom: 25px;
}

.contacts input {
      max-width: 100% !important;
      margin: 15px 0;
      padding: 0 80px 9px 0 !important;
}

.contacts button {
      margin: 15px 0;
}

.map {
      border-radius: 5px;
      padding: 0 0 0 15px;
      float: right;
}

/************************************************** end contacts  *************************************************/

/************************************************** footer  *************************************************/

footer {
      text-align: center;
      padding: 30px 0;
      background: rgba(0, 52, 98, 0.86)
}

footer p {
      margin-top: 20px;
      color: #aaa !important;
      font-size: 14px;
      line-height: 12px;
}

/************************************************** end footer  *************************************************/

/************************************************** equipment page  *************************************************/

.btn-link {
      width: 100%;
      text-align: left !important;
}

#equipment_collapse .fa-sort-down {
      margin-bottom: 3px;
      float: right;
}

#equipment_collapse {
      padding: 50px 0;
}

#equipment_collapse p {
      color: #06235f !important;
}

.card-header {
      text-align: center;
}

.header_item {
      height: 50px;
      font-size: 16px;
      margin-top: 6px;
      border-left: 1px solid lightgrey;
}

.card-header {
      width: 100%;
}

.content_accord p {
      font-size: 16px;
      margin-top: 6px;
      border-left: 1px solid lightgrey;
}

#header_accord .header_item p {
      font-size: 14px;
}

#header_accord>.header_item:nth-child(1) {
      border: 0;
}

.p_accord {
      font-size: 15px;
}

.descr_accord {
      padding: 30px 0;
      font-size: 15px;
}

#collapse_2 .descr_accord {
      padding-bottom: 0;
}

#collapse_2 ul {
      margin-left: 70px;
}

#equipment_collapse .equ_h2 {
      text-align: center;
      padding-bottom: 30px;
}

/************************************************** end equipment page *************************************************/

/************************************************** spares page *************************************************/

#equipment_collapse h4 {
      margin: 50px auto;
}

.spares_accordion .card {
      background: none;
}

.spares_accordion .card_header {
      background: none;
}

.spares_accordion .content_accord p {
      border: 0;
      padding-top: 3px;
}

.spares_accordion .header_item {
      border: 0;
      margin-left: 15px;
}

.spares_accordion .form input {
      text-align: center;
      border: 0;
      background: none;
      color: #06235f;
      font-size: 18px;
}

.spares_accordion .form table {
      box-shadow: 0 5px 7px 0 #d5d5d5;
      border-radius: 5px;
      width: 100%;
}

.spares_accordion .form td {
      padding: 15px 15px 10px 15px;
      border-radius: 5px;
}

.spares_accordion thead {
      /* border-bottom: 1px solid #06235f; */
      text-transform: uppercase;
      font-weight: 700;
}

.spares_accordion .form button {
      margin-top: 30px;
}

input[type="number"] {
      padding-left: 5px;
      width: 50px !important;
      background: rgba(130, 202, 218, 0.2) !important;
      border-radius: 5px;
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}

.checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px;
}

.checkbox__text {
      position: relative;
      padding: 0 0 0 60px;
      cursor: pointer;
}

.checkbox__text:before {
      content: '';
      position: absolute;
      top: -9px;
      left: 0;
      width: 50px;
      height: 26px;
      border-radius: 13px;
      background: rgba(130, 202, 218, 0.2);
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
      transition: .2s;
}

.checkbox__text:after {
      content: '';
      position: absolute;
      top: -7px;
      left: 2px;
      width: 22px;
      height: 22px;
      border-radius: 10px;
      background: #FFF;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      transition: .2s;
}

.checkbox input:checked+.checkbox__text:before {
      background: #82cada;
}

.checkbox input:checked+.checkbox__text:after {
      left: 26px;
}

.zebra_blue {
      background: rgba(92, 187, 206, 0.18) !important;
}

.zebra_white {
      background: rgba(255, 255, 255, 0.56) !important;
}

/************************************************** end spares page **********************************************/

/************************************************** news page **********************************************/

#mainNews ul {
      list-style: none;
}

#mainNews h2 {
      padding: 50px 0 0;
      text-align: center;
}

.newsItem {
      margin: 30px 0;
      padding: 15px 0;
      background: rgba(245, 245, 245, 0.7);
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.15);
      border-radius: 5px;
}

.imgMainNews {
      height: 200px;
      cursor: pointer;
}

.imgMainNews img {
      padding: 0 30px 0 15px;
      float: left;
}

.imgMainNews b {
      text-transform: uppercase;
}

.imgMainNews .fa-sort-down {
      margin-bottom: 3px;
}

.txtMainNews {
      display: none;
      transition: 0.3s all linear;
      padding: 0 15px 30px;
}

.txtMainNews .sint_btn {
      float: right;
      /* margin-bottom: 30px !important; */
}

.txtMainNews {}

/************************************************** end news page **********************************************/

/************************************************** modal *************************************************/

#callModal, #mailModal {
      z-index: 10000;
}

.modal-body, .modal-header {
      text-align: center;
}

.modal-header {
      width: 100%;
}

.modal-body input, .modal-body button {
      margin: 15px auto;
}

#exampleModalLabel {
      color: #06235f;
}

/************************************************** end modal *************************************************/

/*********************************************** end other cod *************************************************/

/*********************************************** mediaQery *************************************************/

@media only screen and (min-width:1200px) {
      header button .fa-phone-volume {
            display: none;
      }
}

@media only screen and (max-width:1199.98px) {
      header button {
            text-align: center;
            line-height: inherit;
            /* margin: -10px !important; */
            display: block;
            width: 40px !important;
            height: 40px !important;
            border-radius: 50% !important;
      }
      header button span {
            display: none;
      }
      header button .fa-phone-volume {
            margin: 10px 10px 10px -5px;
      }
}

@media (max-width: 1199.98px) {
      .map iframe {
            width: inherit !important;
      }
      #carouselNews .carousel-control-prev {
            margin-left: 0;
            text-align: left;
            width: 50px;
      }
      #carouselNews .carousel-control-next {
            margin-right: 0;
            text-align: right;
            width: 50px;
      }
      #carouselNews .carousel-control-prev:hover, #carouselNews .carousel-control-next:hover {
            background: #eee;
      }
      #carouselNews .carousel-control-prev-icon {
            background-image: none;
            color: #82cada;
            margin-right: 15px;
            border-radius: 50px;
      }
      #carouselNews .carousel-control-next-icon {
            background-image: none;
            color: #82cada;
            margin-left: 15px;
            border-radius: 50px;
      }
      #carouselNews .fa-chevron-left, #carouselNews .fa-chevron-right {
            font-size: 36px;
            top: 50%;
            left: 50%;
      }
      #carousel_Video .carousel-control-prev, #carousel_Video .carousel-control-next {
            width: 75px;
            margin: 0;
      }
      .equipment {
            justify-content: space-between;
      }
      .equipment__card {
            min-width: 30% !important;
      }
      .equipment__card button {
            bottom: -15px;
            left: 52px;
            /* margin: 0 auto; */
      }
      .spares__card {
            min-width: 30%;
      }
      .spares__card button {
            bottom: -15px;
            left: 52px;
      }
      #equipment_collapse p {
            border: 0;
            font-size: 12px;
      }
      .btn-link {
            font-size: 12px;
      }
      #header_accord .header_item p {
            font-size: 13px !important;
      }
      #equipment_collapse p {
            border: 0;
            font-size: 12px;
      }
      .descr_accord, .p_accord {
            font-size: 16px !important;
      }
      .offer_accord .linear__btn {
            font-size: 18px;
      }
      #spares_collapse .btn-link {
            font-size: 16px;
      }
      .contacts_line p {
            text-align: left;
      }
      .contacts_line {
            flex-direction: column;
            justify-content: space-around;
            width: 500px;
            margin: 15px auto;
            padding: 15px;
            background: rgba(132, 201, 216, 0.25);
            box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.15);
            border-radius: 5px;
      }
      .contacts_line .mr-auto, .contacts_line .mr-auto {
            margin: 0 !important;
      }
      .contacts_line div {
            max-width: 100%;
      }
}

@media (max-width: 999.98px) {
      #up .phone p {
            display: none;
      }
      .sots {
            min-width: 50%;
            justify-content: space-around !important;
      }
      .phone {
            max-width: 10%;
      }
      .logo {
            max-width: 40%;
      }
}

@media (max-width: 991.98px) {
      #formBlock .linear__btn {
            margin-top: 15px;
      }
      .imgNews img {
            width: 100%;
            padding: 15px;
      }
      .newsParag {
            padding: 15px;
      }
      #carousel_Video .carousel-item {
            height: 400px;
      }
      #spares_collapse .content_accord p {
            font-size: 14px;
      }
      #spares_collapse .btn-link {
            font-size: 14px;
      }
      .equipment__card, .spares__card {
            min-width: 45% !important;
      }
      .equipment__card button, .spares__card button {
            bottom: -15px;
            left: 22.5%;
      }
}

@media (max-width: 767.98px) {
      .equipment__card button, .spares__card button {
            bottom: -15px;
            left: 13.5%;
      }
      .inputs, .contacts input, .form button {
            max-width: 58%;
            margin: 15px;
      }
      .call_card {
            max-width: 500px;
            margin: auto;
      }
      .map {
            max-width: 500px;
            margin: 15px auto;
            min-height: 340px;
            float: none;
            padding: 0;
      }
      .align_i_c {
            margin: 0;
      }
      .align_i_c {
            margin: 25px auto 15px;
      }
}

@media (max-width: 575.98px) {
      .logo {
            min-width: 100%;
            text-align: center;
      }
      .sots {
            max-width: 80%;
            /* min-width: 70%; */
      }
      header .linear__btn {
            /* margin: 0 -0 3px 0.5em !important; */
      }
      .equipment__card, .spares__card {
            max-width: 58.5% !important;
      }
      .equipment__card button, .spares__card button {
            bottom: -15px;
            left: 23.5%;
      }
      .oneSlide {
            max-width: 86%;
            min-width: 80%;
            margin: 0 auto;
      }
      .contacts_line {
            margin-left: 0;
            width: auto;
      }
      .call_card {
            max-width: 95%;
            text-align: center;
            margin: 0 auto;
      }
      .contacts_line {
            width: auto;
      }
      .map {
            max-width: 530px;
            margin: 15px 10px;
            min-height: 340px;
            float: none;
            padding: 0;
      }
      .equipment__card button, .spares__card button {
            left: 50%;
            margin-left: -88px;
      }
}

/*********************************************** end mediaQery *************************************************/