<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
      <link rel="stylesheet" href="css/bootstrap.min.css" class="css">
      <link rel="stylesheet" href="css/main.css" class="css">
      <title>Notify</title>
</head>

<body>
      <header>
            <div class="container">
                  <div class="row">
                        <div class="col-md-7">
                              <div class="offer"><img src="img/notify.png" class="offer__img" alt="">
                                    <p class="offer-intro">A great new free psd theme to showcase your new application.</p>

                                    <ul class="offer__links d-flex">
                                          <li class="offer__links-item offer__links-item_ios"><a href="#" target="_blank"></a></li>
                                          <li class="offer__links-item offer__links-item_android"><a href="#" target="_blank"></a></li>
                                          <li class="offer__links-item offer__links-item_win"><a href="#" target="_blank"></a></li>
                                    </ul>
                              </div>
                        </div>
                        <div class="col-md-5 d-none d-md-block">
                              <img src="img/iphone.png" class="iphone" alt="">
                        </div>
                  </div>
            </div>
      </header>
      <section id="triggers">
            <div class="container">
                  <div class="row">
                        <div class="col-sm col-12 ">
                              <div class="trigger">
                                    <div class="trigger__icon trigger__icon_theme"></div>
                                    <h3 class="trigger__title">Editable Theme</h3>
                                    <p class="trigger__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
                              </div>
                        </div>
                        <div class="col-sm col-12">
                              <div class="trigger">
                                    <div class="trigger__icon trigger__icon_flat"></div>
                                    <h3 class="trigger__title">Flat Design</h3>
                                    <p class="trigger__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
                              </div>
                        </div>
                        <div class="col-sm col-12">
                              <div class="trigger">
                                    <div class="trigger__icon trigger__icon_audience"></div>
                                    <h3 class="trigger__title">Reach Your Audience</h3>
                                    <p class="trigger__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.</p>
                              </div>
                        </div>
                  </div>
            </div>

      </section>
      <section id="subscribe">
            <div class="container">
                  <div class="container">
                        <div class="row">
                              <div class="col-md-7">
                                    <div class="subscribe">
                                          <h3 class="subscribe__title">Get Notified Of Any Updates!</h3>
                                          <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec dbhuj. Phasellus eget nisi dapibus, ultricies nisl at hyjklo uglos, hendrerit risusuis
                                                ornare luctus id sollicitudin ante lobortis at.</p>
                                          <form action="#" class="subscribe__form">
                                                <input type="text" class="subscribe__input" placeholder="Email Address">
                                                <button type="submit" class="subscribe__act">Notify</button>
                                          </form>
                                    </div>
                              </div>
                              <div class="col-md-5">
                                    <iframe class="video" src="https://player.vimeo.com/video/232485795" width="100%" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                              </div>
                        </div>
                  </div>
            </div>

      </section>
      <section id="people">
            <div class="container">
                  <div class="row">
                        <div class="col">
                              <div class="quote">
                                    <p class="quote__text">
                                          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”
                                    </p>
                                    <div class="quote__author">
                                          Jane Hunt
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col">
                              <ul class="faces d-flex justify-content-between">
                                    <li class="faces__item"><img src="img/img1.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img2.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img3.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img4.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img5.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img6.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img7.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img8.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img9.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img10.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img11.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img12.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img13.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img14.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img15.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img16.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img17.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img18.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img19.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img20.jpg" alt="jane"></li>
                                    <li class="faces__item"><img src="img/img21.jpg" alt="jane"></li>
                              </ul>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col">
                              <div class="contact">
                                    <h2 class="contact__title">Say Hi & Get in Touch</h2>
                                    <p class="contact__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse. </p>

                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col">
                              <div class="networks">
                                    <ul class="networks__item d-flex justify-content-center">
                                          <li class="networks__icon"><a class="netvorks__icon__link icon__1" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                          <li class="networks__icon"><a class="netvorks__icon__link icon__2" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                          <li class="networks__icon"><a class="netvorks__icon__link icon__3" href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                          <li class="networks__icon"><a class="netvorks__icon__link icon__4" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                          <li class="networks__icon"><a class="netvorks__icon__link icon__5" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                          <li class="networks__icon"><a class="netvorks__icon__link icon__6" href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <footer>
            <div class="container">
                  <div class="row">
                        <div class="col">
                              <nav>

                                    <ul class="menu d-flex justify-content-center flex-column flex-sm-row">
                                          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
                                          <li class="menu__item"><a class="menu__link" href="#">Download</a></li>
                                          <li class="menu__item"><a class="menu__link" href="#">Press</a></li>
                                          <li class="menu__item"><a class="menu__link" href="#">Email</a></li>
                                          <li class="menu__item"><a class="menu__link" href="#">Support</a></li>
                                          <li class="menu__item"><a class="menu__link" href="#">Privacy Policy</a></li>
                                    </ul>

                              </nav>
                        </div>
                  </div>
            </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/bootstrap.min.js">
      </script>
</body>

</html>
