*{
	padding: 0;
	margin: 0;
	font-family:'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:25px 0; 
	color: #222;
}
p{
	color: #555;
	font-size: 14px;
}
body{
	width: 100%;
	height: 100vh;
	background: url(../img/first_background.jpg) no-repeat center top/cover;
	
}

.container{
	background: rgba(200,200,150, 0.5);
	height: 1350px;
	position: absolute;
	left:50%;
	margin-left: -585px;
	width:1170px;
	align-content: center;
}
.captions{
	
	position: relative;
	left:50%;
	margin-left: -210px;
	width: 420px;
	text-align: center;
}
.captions_item_1{
	position: absolute;
	left:50%;
	margin-left:-210px; 
	width:420px;
}
.captions_item_2{
	top: 120px;
	position: absolute;
	text-align: left;
	width: 210px;
}
.float__top{
	position: absolute;
	top:45px;
}
.float__left{
position: absolute;
left: -210px;


}.float__right{
position: absolute;
right: -210px;


}
.captions_item_3{
	left:210px;
	top: 300px;
	position: absolute;
	text-align: right;
	width: 210px;
}
.captions_item_4{
	top: 480px;
	position: absolute;
	left:50%;
	margin-left:-210px; 
	width:420px;
}
.captions_item_5{
	top: 590px;
	position: absolute;
	text-align: left;
	width: 210px;

}
.captions_item_6{
	left: 210px;
	top: 770px;
	position: absolute;
	text-align: right;
	width: 210px;

}

.img{
	text-align:center;	

}
.img_item{
	width: 150px;	 
	border-radius: 50%;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
}

.ancors a {
	color: #D2691E;
	font-size: 24px;
	padding: 15px 25px;
}
.ancors a:last-child{
	position: absolute;
	background: black;
	padding:10px 15px;
	border-radius: 5px;
	left:50%;
	margin-left: -22px;
	top:42px;
}
.ancors{
	width: 420px;
	position: absolute;
	top: 1100px;
	left: 50%
	margin-left:-210px;

}

